.z-bubble-chart {
  padding-right: 10px;
  position: relative;
  text {
    pointer-events: none;
  }
  .hidden {
    display: none;
  }
  .axis {
    path,
    line {
      stroke: #777;
    }
    text {
      // fill: #eee;
    }
    .grid-line {
      path,
      line {
        stroke: #444;
      }
    }
  }
  circle {
    cursor: pointer;
    fill-opacity: 0.5;
    &:hover {
      fill-opacity: 1;
    }
  }
}
