.z-bar-chart {
  padding-right: 10px;
  height: 100%;
  position: relative;
  .row {
    fill-opacity: 0.8;
    &.unselected {
      fill: #aaa;
      stroke: #aaa;
    }
    cursor: pointer;
    &:hover {
      fill-opacity: 1;
    }
  }
  text {
    fill: #000;
    pointer-events: none;
    // stroke-width: 2px;
    // stroke: black;
    paint-order: stroke;
    // stroke-opacity: 0.3;
  }
  .hidden {
    display: none;
  }
  .axis {
    path,
    line {
      // stroke: #777;
    }
    text {
      fill: #000;
    }
    .grid-line {
      path,
      line {
        stroke: #444;
      }
    }
  }
}
