.histogram-chart {
  position: relative;

  .x-label {
    text-align: center;
  }

  .grid-line {
    path,
    line {
      stroke: #444;
    }
  }

  .legend {
    position: absolute;
    right: 20px;
    top: 4px;
    color: #000;
    background: #999;
    border: 1px #444 solid;

    .title {
      padding: 2px;
      cursor: pointer;
      border-bottom: 1px #444 solid;
    }

    .content {
      display: none;
    }

    &.expand {
      .content {
        display: block;
      }
    }
  }
}