.z-stackedbar-chart {
  padding-right: 10px;
  position : relative;
  .tooltip {
    width: auto;
    color: #fff;
    background: #343434;
    border: 1px solid #444;
    position: absolute;
    .title {
      padding: 0 5px;
      border-bottom: 1px #444 solid;
    }
    .content {
      padding: 0 5px;
    }
  }
  .mark {
    display: inline-block;
    width: 10px;
    height: 3px;
    background: #666;
    vertical-align: middle;
    margin-right: 6px;
  }
  .row {
    cursor: pointer;
  }
  text {
    pointer-events: none;
  }
  .hidden {
    display: none;
  }
.axis {
    path,line {
      stroke: #777;
    }
    text {
      fill: #000;
    }
    .grid-line {
      path, line {
        stroke: #444
      }
    }
  }
}
