.z-chart {
  position: relative;
  background: rgba(229, 229, 229, 1);
}

.z-line-chart {
  .title {
    padding: 5px;
  }
  .content {
    padding: 5px;
  }
  .bin {
    position: absolute;
    left: 90px;
    top: 10px;
  }
  .timeSelector {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
  }
  .legend {
    position: absolute;
    right: 20px;
    top: 50px;
    color: #000;
    background: #999;
    .title {
      cursor: pointer;
      border-bottom: 1px #444 solid;
    }
    .content {
      display: none;
    }
    &.expand {
      .content {
        display: block;
      }
    }
  }
  .x-label {
    text-align: center;
  }
  .axis {
    path,
    line {
      stroke: #777;
    }
    text {
      fill: #000;
    }
    .grid-line {
      path,
      line {
        stroke: #444;
      }
    }
  }
  .z-timeline-player {
    position: absolute;
    left: 80px;
    top: 10px;
    button {
      background: none;
      border: none;
      height: 16px;
      width: 16px;
      outline: none;
      cursor: pointer;
      background-position: center;
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M10 8.64L15.27 12 10 15.36V8.64M8 5v14l11-7L8 5z' fill='%23FFF' /%3E%3C/svg%3E");
    }
    .playing {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z' fill='%23FFF'/%3E%3C/svg%3E");
    }
  }
}
